<p id="notice"><%= notice %></p>

<p>
  <strong>Objclass:</strong>
  <%= @type_obj.objclass %>
</p>

<p>
  <strong>Src:</strong>
  <%= @type_obj.src %>
</p>

<%= link_to 'Edit', edit_type_obj_path(@type_obj) %> |
<%= link_to 'Back', type_objs_path %>
