    <script type="text/javascript"
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB8_fY78Np6-muxaUYN0RHYaiAnaYxXh0A&sensor=false">
          </script>
    <script>
// In the following example, markers appear when the user clicks on the map.
// The markers are stored in an array.
// The user can then click an option to hide, show or delete the markers.
    var map;

function initialize() {
  var haightAshbury = new google.maps.LatLng(48.2368, 40.7437);
  var mapOptions = {
    zoom: 7,
    center: haightAshbury,
    mapTypeId: google.maps.MapTypeId.HYBRID
  },
      contentString,
      infowindow = new google.maps.InfoWindow({
              content: ''
                }),
      marker;

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  <% @areas.each do |ar| 
        if ! ar.coords.empty? %>
        var marker<%=ar.id%> = new google.maps.Marker({ position: new google.maps.LatLng(<%= ar.coords %>),
              map: map, title: '<%= ar.name %>' });
        google.maps.event.addListener(marker<%=ar.id%>, 'click', function() {
              infowindow.setContent('<%= link_to ar.name, edit_area_path(ar) %>'); 
              infowindow.setPosition(new google.maps.LatLng(<%= ar.coords %>));
              infowindow.open(map,marker<%=ar.id%>); 
          });
      <% end
     end %>

   google.maps.event.addListener(map, 'click', function(event) {
       addMarker(event.latLng);
    });
}

function addMarker(location) {
       var marker = new google.maps.Marker({ position: location,
                       map: map });
//       marker.setMap(map);
       var contentString = '<a href=/areas/new?coords='+location.lat()+',%20'+location.lng()+'&zoom='+map.getZoom()+'>Добавить район</a>';
       var infowindow = new google.maps.InfoWindow({ content: contentString });
       google.maps.event.addListener(marker, 'click', function() { infowindow.open(map,marker); });
}

google.maps.event.addDomListener(window, 'load', initialize);
    </script>
