<p id="notice"><%= notice %></p>

<h1>Listing Poligons</h1>

<table>
  <thead>
    <tr>
      <th>Coords</th>
      <th>Area</th>
      <th>color</th>
      <th>Name</th>
      <th>Url</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poligons.each do |poligon| %>
      <tr>
        <td style="font-size: 6pt;" width=30%><%= poligon.coords[0..50] %>...</td>
        <td><%= poligon.area.name unless poligon.area.nil? %></td>
        <td style="background: #<%=poligon.color%>;"><%= poligon.color %></td>
        <td><%= poligon.name.html_safe %></td>
        <td><%= poligon.url %></td>
        <td><%= poligon.year %></td>
        <td><%= link_to 'Show', poligon %></td>
        <td><%= link_to 'Edit', edit_poligon_path(poligon) %></td>
        <td><%= link_to "Del", poligon_del_path(id: poligon.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poligon', new_poligon_path %>
